*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif; }

.main-wrapper {
  background-color: #f5f3f7;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .main-wrapper {
      height: 100vh; } }
  .main-wrapper::before {
    content: "";
    position: absolute;
    width: 46rem;
    height: 54rem;
    background: linear-gradient(to top, #8838ff, #e942ff), linear-gradient(to left, #8838ff, #e942ff);
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;
    left: -27rem; }
    @media (min-width: 768px) {
      .main-wrapper::before {
        left: -15rem;
        height: 69rem;
        border-bottom-left-radius: 30rem;
        border-bottom-right-radius: 30rem; } }
    @media (min-width: 1200px) {
      .main-wrapper::before {
        left: -8rem; } }
  .main-wrapper::after {
    content: "";
    position: absolute;
    width: 40rem;
    height: 45rem;
    background-color: rgba(233, 230, 239, 0.5);
    border-top-left-radius: 25rem;
    border-top-right-radius: 25rem;
    bottom: 0;
    right: -22rem; }
    @media (min-width: 768px) {
      .main-wrapper::after {
        height: 75rem;
        border-top-left-radius: 40rem;
        border-top-right-radius: 40rem;
        right: -15rem; } }
    @media (min-width: 1200px) {
      .main-wrapper::after {
        width: 45rem;
        right: -12rem; } }

.showcase-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  z-index: 5; }
  @media (min-width: 768px) {
    .showcase-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: row; } }

.phone {
  width: 29.5rem;
  padding: 1.2rem;
  background-color: white;
  border-radius: 3.2rem;
  box-shadow: 5px 20px 25px -5px rgba(0, 0, 0, 0.2); }
  @media (min-width: 1200px) {
    .phone {
      transform: scale(1.2); } }
  .phone-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f3f7;
    border-radius: 2.2rem;
    overflow: hidden; }
    .phone-screen .screen-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0 0 .6rem .6rem;
      background: linear-gradient(to right, #8838ff, #e942ff);
      padding: 3rem 2rem 1.2rem 1.2rem;
      position: relative; }
      .phone-screen .screen-head::before {
        content: "";
        position: absolute;
        width: 55%;
        height: 2rem;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0px 0px 18px 18px;
        background-color: white; }
      .phone-screen .screen-head .back-arrow {
        color: white;
        font-size: 1.4rem;
        flex: 1;
        cursor: pointer; }
      .phone-screen .screen-head .profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 8; }
        .phone-screen .screen-head .profile-img {
          width: 3.2rem;
          border-radius: 50%;
          border: 2px solid white; }
        .phone-screen .screen-head .profile-info {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
          height: 100%; }
          .phone-screen .screen-head .profile-info .profile-name {
            font-size: 1.4rem;
            font-weight: 500;
            color: white;
            margin-bottom: 3px; }
          .phone-screen .screen-head .profile-info .profile-status {
            color: #d89eff;
            font-size: .8rem; }
      .phone-screen .screen-head .ellipsis {
        color: white;
        font-size: 1.2rem;
        flex: 1;
        text-align: right;
        cursor: pointer; }
    .phone-screen .screen-chat {
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: 41rem; }
      .phone-screen .screen-chat .message {
        font-size: .9rem;
        max-width: 58%;
        padding: .8rem 1rem;
        margin-top: 1rem;
        line-height: 1.2rem;
        word-wrap: break-word; }
      .phone-screen .screen-chat .dog-walker {
        background-color: rgba(146, 65, 200, 0.1);
        color: #9241c8;
        border-radius: 1.2rem 1.2rem 1.2rem .4rem;
        margin-left: 1rem; }
      .phone-screen .screen-chat .dog-owner {
        align-self: flex-end;
        background-color: white;
        color: #3e2753;
        border-radius: 1.2rem 1.2rem .4rem 1.2rem;
        margin-right: 1rem;
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1); }
      .phone-screen .screen-chat .dog-owner-images {
        align-self: flex-end;
        font-size: .9rem;
        max-width: 58%;
        color: #3e2753;
        border-radius: 1.2rem 1.2rem 0rem 1.2rem;
        margin-top: 1.5rem;
        margin-right: 1rem;
        line-height: 1.2rem; }
        .phone-screen .screen-chat .dog-owner-images img {
          width: 4rem;
          border-radius: 1rem; }
      .phone-screen .screen-chat .offer {
        width: 70%;
        padding: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        background: linear-gradient(to right, #8838ff, #e942ff);
        color: white;
        border-radius: 1.2rem 1.2rem 1.2rem .4rem;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .phone-screen .screen-chat .offer-circle {
          width: 1.5rem;
          height: 1.5rem;
          border: 1px solid #e570ff;
          border-radius: 50%; }
        .phone-screen .screen-chat .offer-desc {
          flex: 2;
          margin-left: 1rem; }
        .phone-screen .screen-chat .offer-price {
          font-size: 1.6rem;
          font-weight: 700;
          margin-right: 1rem; }
    .phone-screen .textArea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1.5rem 1rem 1rem;
      border-radius: 5rem;
      background-color: white;
      padding: .8rem; }
      .phone-screen .textArea input {
        outline: none;
        border: none;
        margin-left: 1.5rem;
        margin-right: .5rem;
        color: #3e2753;
        font-size: .9rem;
        height: 3rem;
        flex: 1;
        font-size: 1rem; }
        .phone-screen .textArea input::placeholder {
          font-size: 1rem;
          color: #c6cacd; }
      .phone-screen .textArea .send {
        font-size: 1.4rem;
        color: white;
        background-color: #3e2753;
        border-radius: 50%;
        padding: .7rem .9rem;
        text-align: center;
        cursor: pointer; }

.text-wrapper {
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 0 3.6rem;
  text-align: center; }
  @media (min-width: 768px) {
    .text-wrapper {
      min-width: 40rem;
      padding: 0;
      margin-top: 0;
      margin-left: 4rem;
      text-align: left; } }
  @media (min-width: 1200px) {
    .text-wrapper {
      width: 45rem;
      margin-left: 12rem; } }
  .text-wrapper .text-heading {
    font-size: 4rem;
    color: #3e2753;
    font-weight: 500;
    margin-bottom: 2.2rem; }
  .text-wrapper .text-desc {
    color: #a39daa;
    font-size: 1.6rem;
    line-height: 2.4rem; }
