@keyframes left-in {
    from {
        transform: translateX(-120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes right-in {
    from {
        transform: translateX(120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes offersAnim {
    0% {
        transform: scale(0) rotateZ(0deg);
    }

    10% {
        transform: scale(.1) rotateZ(-5deg);
    }

    20% {
        transform: scale(.2) rotateZ(5deg);
    }

    30% {
        transform: scale(.3) rotateZ(-5deg);
    }

    40% {
        transform: scale(.4) rotateZ(5deg);
    }

    50% {
        transform: scale(.5) rotateZ(-5deg);
    }

    60% {
        transform: scale(.6) rotateZ(3deg);
    }

    70% {
        transform: scale(.7) rotateZ(-3deg);
    }

    80% {
        transform: scale(.8) rotateZ(3deg);
    }

    90% {
        transform: scale(.9) rotateZ(-3deg);
    }

    100% {
        transform: scale(1) rotateZ(0deg);
    }
}

.left-in-delay-0s {
    animation: left-in 1s;
}

.left-in-delay-1s {
    animation: left-in 1s 1s backwards;
}

.right-in-delay-3s {
    animation: right-in 1s 3s backwards;
}

.right-in-delay-4s {
    animation: right-in 1s 4s backwards;
}

.right-in-delay-5s {
    animation: right-in 1s 5s backwards;
}

.left-in-delay-7s {
    animation: left-in 1s 7s backwards;
}

.rotate-in-delay-8s {
    animation: offersAnim 1s 8s linear backwards;
}