.main-wrapper {
    background-color: $light-grayish-violet;
    position: relative;
    overflow: hidden;

    @media (min-width:768px) {
        height: 100vh;
    }

    &::before {
        content: "";
        position: absolute;
        width: 46rem;
        height: 54rem;
        background: linear-gradient(to top, $light-violet, $light-magenta), linear-gradient(to left, $light-violet, $light-magenta);
        border-bottom-left-radius: 25rem;
        border-bottom-right-radius: 25rem;
        left: -27rem;

        @media (min-width:768px) {
            left: -15rem;
            height: 69rem;
            border-bottom-left-radius: 30rem;
            border-bottom-right-radius: 30rem;
        }
        @media (min-width:1200px) {
            left: -8rem;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 40rem;
        height: 45rem;
        background-color: rgba(233, 230, 239, .5);
        border-top-left-radius: 25rem;
        border-top-right-radius: 25rem;
        bottom: 0;
        right: -22rem;

        @media (min-width:768px) {
            height: 75rem;
            border-top-left-radius: 40rem;
            border-top-right-radius: 40rem;
            right: -15rem;
        }
        @media (min-width:1200px) {
            width: 45rem;
            right: -12rem;
        }
    }
}

.showcase-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    z-index: 5;

    @media (min-width:768px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
    }
}

.phone {
    width: 29.5rem;
    padding: 1.2rem;
    background-color: $white;
    border-radius: 3.2rem;
    box-shadow: 5px 20px 25px -5px rgba(#000, .2);

    @media (min-width:1200px){
        transform: scale(1.2);
    }

    &-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $light-grayish-violet;
        border-radius: 2.2rem;
        overflow: hidden;

        .screen-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 0 0 .6rem .6rem;
            background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
            padding: 3rem 2rem 1.2rem 1.2rem;
            position: relative;

            //notch
            &::before {
                content: "";
                position: absolute;
                width: 55%;
                height: 2rem;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 0px 0px 18px 18px;
                background-color: $white;
            }

            .back-arrow {
                color: $white;
                font-size: 1.4rem;
                flex: 1;
                cursor: pointer;

            }

            .profile {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex: 8;

                &-img {
                    width: 3.2rem;
                    border-radius: 50%;
                    border: 2px solid $white;
                }

                &-info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 1rem;
                    height: 100%;

                    .profile-name {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: $white;
                        margin-bottom: 3px;
                    }

                    .profile-status {
                        color: hsl(276, 100%, 81%);
                        font-size: .8rem;
                    }
                }

            }

            .ellipsis {
                color: $white;
                font-size: 1.2rem;
                flex: 1;
                text-align: right;
                cursor:  pointer;
            }
        }

        .screen-chat {
            display: flex;
            flex-direction: column;
            overflow: auto;
            height: 41rem;
            overflow-x: hidden;

            .message{
                font-size: .9rem;
                max-width: 58%;
                padding: .8rem 1rem;
                margin-top: 1rem;
                line-height: 1.2rem;
                word-wrap: break-word;
            }

            .dog-walker {
                background-color: rgba($moderate-violet, .1);
                color: $moderate-violet;
                border-radius: 1.2rem 1.2rem 1.2rem .4rem;
                margin-left: 1rem;

            }

            .dog-owner {
                align-self: flex-end;
                background-color: $white;
                color: $very-dark-desaturated-violet;
                border-radius: 1.2rem 1.2rem .4rem 1.2rem;
                margin-right: 1rem;
                box-shadow: 0px 5px 10px -5px rgba(#000, .1);
            }

            .dog-owner-images {
                align-self: flex-end;
                font-size: .9rem;
                max-width: 58%;
                color: $very-dark-desaturated-violet;
                border-radius: 1.2rem 1.2rem 0rem 1.2rem;
                margin-top: 1.5rem;
                margin-right: 1rem;
                line-height: 1.2rem;

                img {
                    width: 4rem;
                    border-radius: 1rem;
                }
            }

            .offer {
                width: 70%;
                padding: 1rem;
                margin-top: 1rem;
                margin-left: 1rem;
                background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
                color: $white;
                border-radius: 1.2rem 1.2rem 1.2rem .4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &-circle {
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 1px solid hsl(289, 100%, 72%);
                    border-radius: 50%;
                }

                &-desc {
                    flex: 2;
                    margin-left: 1rem;
                }

                &-price {
                    font-size: 1.6rem;
                    font-weight: 700;
                    margin-right: 1rem;
                }
            }
        }

        .textArea {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1.5rem 1rem 1rem;
            border-radius: 5rem;
            background-color: $white;
            padding: .8rem;

            input {
                outline: none;
                border: none;
                margin-left: 1.5rem;
                margin-right: .5rem;
                color: $very-dark-desaturated-violet;
                font-size: .9rem;
                height: 3rem;
                flex: 1;
                font-size: 1rem;

                &::placeholder {
                    font-size: 1rem;
                    color: $grayish-blue;
                }
            }

            .send {
                font-size: 1.4rem;
                color: $white;
                background-color: $very-dark-desaturated-violet;
                border-radius: 50%;
                padding: .7rem .9rem;
                text-align: center;
                cursor: pointer;
            }

        }
    }
}

.text-wrapper {
    max-width: 54rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    text-align: center;

    @media (min-width:768px) {
        min-width: 40rem;
        padding: 0;
        margin-top: 0;
        margin-left: 4rem;
        text-align: left;
    }
    @media (min-width:1200px) {
        width: 45rem;
        margin-left: 12rem;
    }

    .text-heading {
        font-size: 4rem;
        color: $very-dark-desaturated-violet;
        font-weight: 500;
        margin-bottom: 2.2rem;
    }

    .text-desc {
        color: $dark-grayish-violet;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

@keyframes left-in {
    from {transform: translateX(-120%); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}

@keyframes right-in {
    from {transform: translateX(120%); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}